.headerDiv {
    min-width: 100%;
    display: flex;

    background-color:#eeeeee;
    overflow: hidden;
    position: fixed;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #f5f5f5;
    color: #000000;
    
    transition: background-color .3s;
}

/* mobile devices*/
@media only screen and (min-width : 300px) {
    .headerDiv{
        flex-direction: column;
        height: 110px;
    }
    .backHome{
        flex: 1 1;
        align-self: left;
        margin-left: 10px;
        height: 30px;
    }
    .titleBar{
        display: flex;
        flex: 6 6;
        font-size: 30px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        text-overflow: clip;
    }
    .titleBack{
        display: flex;
        height: 55px;
        flex-direction: row;
        text-align: center;
    }
    .titleSocialButton{
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    .titleSocialButton img{
        width: 20px;
        height: auto;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 700px) {
    .headerDiv{
        flex-direction: row;
        height: 60px;
        justify-content:space-around;
        align-items:center;
    }
    .backHome{
        flex: 1 1;
        align-self: left;
        margin-left: 10px;
        height: 30px;
    }
    .titleBar{
        flex: 3 3;
        font-size: 30px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
    .titleBack{
        display: flex;
        flex: 3 3;
        flex-direction: row;
    }
    .titleSocialButton{
        display: flex;
        height: 100%;
        flex: 1 1;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
}

