.headerDiv {
    min-width: 100%;
    display: flex;

    background-color:#eeeeee;
    overflow: hidden;
    position: fixed;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #f5f5f5;
    color: #000000;
    
    transition: background-color .3s;
}

.titlePostBar{
    display: flex;
}

/* mobile devices*/
@media only screen and (min-width : 300px) {
    .headerDiv{
        flex-direction: column;
        height: 100px;
    }
    .titlePostBar{
        align-self: center;
        justify-content: center;
    }
    .titlePostBar img{
        width: 20px;
        height: auto;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 700px) {
    .headerDiv{
        flex-direction: row;
        height: 60px;
        justify-content:space-around;
        align-items:center;
    }
    .titlePostBar{
        height: 60px;
    }
}

