.postPage {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: justify;
    
    p {
        display: flex;
        flex-direction: column;
    }

    img {
        align-self: center;
    }

}