.profileBar{
    display: flex;
    flex-direction: row;
    min-height: 30vh;
    min-width: 100vw;
    justify-content: space-around;
    align-items: center;
}

#imgProfile{
    border-radius: 100%;
    height: 200px;
    width: 200px;
}